<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tahim Kader</title>
    <link rel="icon" href="img/fav.png">

    <!-- Bootstrap Core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.min.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    $('.modal').each(function(){
            var src = $(this).find('iframe').attr('src');

        $(this).on('click', function(){

            $(this).find('iframe').attr('src', '');
            $(this).find('iframe').attr('src', src);

        });
    });
    });
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Tahim Kader</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About me</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">TECHNICAL SKILLS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">PROJECTS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div id = "bright" class="header-content-inner">
                <img src="img/tahim2.png" class="img-circle tahim" alt/>
                <h1 id="homeHeading">TAHIM KADER</h1>
                <hr>
                <p>FULL STACK WEB DEVELOPER | MOBILE DEVELOPER | PRODUCT MANAGER</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">ABOUT ME</h2>
                    <hr class="light">
                    <p class="text-faded">Hi! My name is Tahim, and I am from the Bay Area. I graduated from University of California, Berkeley with a degree in Biomedical Engineering. My background is in data analytics, software development, and product management.</p>
                    <p class="text-faded">I recently attended and completed an intense bootcamp in San Jose called Coding Dojo, which is an immersive full stack and mobile development bootcamp. Coding Dojo offers many of the industry's most relevant technologies, such as Python, MEAN, and Swift.</p>
                    <p class="text-faded">I love to read, travel, eat food, and code!</p>
                    <p class="text-faded">Want to learn more about me? Check my links below!</p>
                    <a href="img/resume.pdf" class="page-scroll btn btn-default btn-xl sr-button" download>Resume</a>
                    <a href="https://www.linkedin.com/in/tahimkader/" class="page-scroll btn btn-default btn-xl sr-button">LinkedIn</a>
                    <a href="https://github.com/tkaderr" class="page-scroll btn btn-default btn-xl sr-button">Github</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">TECHNICAL SKILLS</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 text-left">
                    <div class="service-box">
                        <h3>Languages</h3>
                        <ul>
                          <li>JavaScript</li>
                          <li>Python</li>
                          <li>Swift</li>
                          <li>C</li>
                          <li>MATLAB</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-left">
                    <div class="service-box">
                        <h3>Front End</h3>
                        <ul>
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>JQuery</li>
                          <li>Angular</li>
                          <li>React</li>
                          <li>Redux</li>
                          <li>Bootstrap</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-left">
                    <div class="service-box">
                        <h3>Back End</h3>
                        <ul>
                          <li>Django</li>
                          <li>Flask</li>
                          <li>Express.js</li>
                          <li>Node.js</li>
                          <li>Socket.IO</li>
                          <li>RESTful</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-left">
                    <div class="service-box">
                        <h3>Databases</h3>
                        <ul>
                          <li>MySQL</li>
                          <li>Oracle</li>
                          <li>MongoDB</li>
                          <li>PostgreSQL</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-left">
                    <div class="service-box">
                        <h3>Dev Tools</h3>
                        <ul>
                          <li>Visual Studio</li>
                          <li>Atom</li>
                          <li>Xcode</li>
                          <li>Heroku</li>
                          <li>AWS</li>
                          <li>SQLWorkbench</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-left">
                    <div class="service-box">
                        <h3>Miscellaneous</h3>
                        <ul>
                          <li>Balsamiq</li>
                          <li>Google Analytics</li>
                          <li>Looker</li>
                          <li>Woopra</li>
                          <li>Iterable</li>
                          <li>Microsoft Office</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
      <aside class="bg-dark">
          <div class="container text-center">
              <div class="call-to-action">
                  <h2>PROJECTS</h2>
                  <hr class="light">
                  <!-- <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a> -->
              </div>
          </div>
      </aside>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6 project">
                    <a class="portfolio-box popup-modal" href="#modal-rental" data-target="#modalrental" data-toggle="modal" data-effect="mfp-zoom-in">
                        <img src="img/portfolio/thumbnails/RentalApp.png" class="img-responsive" alt="" style="width:548px;height:223.41px;">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Web-Python
                                </div>
                                <div class="project-name">
                                    RentalApp
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box popup-modal" href="#modal-space" data-target="#modalspace" data-toggle="modal" data-effect="mfp-zoom-in">
                        <img src="./img/portfolio/thumbnails/asteroid3.png" class="img-responsive" alt="" style="width:548px;height:223.41px;">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Mobile-Swift
                                </div>
                                <div class="project-name">
                                    Super Asteroid Frenzy
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box popup-modal" href="#modal-color" data-target="#modalcolor" data-toggle="modal" data-effect="mfp-zoom-in">
                        <img src="img/portfolio/thumbnails/color2.png" class="img-responsive" alt="" style="width:548px;height:223.41px;">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Mobile-Swift
                                </div>
                                <div class="project-name">
                                    Color Frenzy
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box popup-modal" href="#modal-pickup" data-target="#modalpickup" data-toggle="modal" data-effect="mfp-zoom-in">
                        <img src="img/comp.jpg" class="img-responsive" alt="" style="width:548px;height:223.41px;">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Mobile-Swift
                                </div>
                                <div class="project-name">
                                    PickUp
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">CONTACT</h2>
                    <hr class="primary">
                    <p>Want to chat or connect with me? Do you have a spot on your team? Great! Feel free to send me an email, and I will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-12 text-center">
                    <a href="mailto:tahim.kader@gmail.com"><i class="fa fa-envelope-o fa-3x sr-contact" style="padding:15px"></i></a>
                    <a href="https://www.linkedin.com/in/tahimkader/" class="fa fa-linkedin fa-3x sr-contact" style="padding:15px"></a>
                    <a href="https://github.com/tkaderr" class="fa fa-github fa-3x sr-contact" style="padding:15px"></a>
                  </div>
              </div>
    </section>

    <div class="modal fade" id="modalrental" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="myModalLabel"><b>RentalApp</b></h4>
          </div>
          <div class="modal-body text-center">
            <p>RentalApp is a web application that allows users to post and rent products.</p>
            <p><i>Python, Django, SQL, HTML, CSS, JavaScript, JQuery, Bootstrap</i></p>
            <div class ="video-container">
              <iframe width ="560" height ="315" src ="https://www.youtube.com/embed/cXC8mXgmm70" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-md-9">
              Code:<a href="https://github.com/tkaderr/rental_app" ><button type="button" class="btn btn-primary">Github</button></a>
              Website:<a href="https://our-things.herokuapp.com" ><button type="button" class="btn btn-primary">Link</button></a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalspace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="myModalLabel"><b>Super Asteroid Frenzy</b></h4>
          </div>
          <div class="modal-body text-center">
            <p>Super Asteroid Frenzy is an IOS application where the user controls a space ship that shoots on-coming asteroids.</p>
            <p><i>Swift, Xcode, Spritekit</i></p>
            <div class ="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/xUcO3Q1_x6Y" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-md-9 text">
              Code:<a href="https://github.com/tkaderr/super_asteroid_frenzy" ><button type="button" class="btn btn-primary">Github</button></a>
              Website:<a href="https://itunes.apple.com/app/id1244314875" ><button type="button" class="btn btn-primary">Link</button></a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalcolor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="myModalLabel"><b>Color Frenzy</b></h4>
          </div>
          <div class="modal-body text-center">
            <p> Color Frenzy is an iOS application built in 24 hours where the user tries to match a color by rotating the device.</p>
            <p><i>Core Motion, Swift, Xcode, AudioToolbox, AVFoundation</i></p>
            <div class ="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/WhYZ5BmQbIk" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-md-8">
              Code:<a href="https://github.com/tkaderr/color_frenzy" ><button type="button" class="btn btn-primary">Github</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalpickup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="myModalLabel"><b>PickUp</b></h4>
          </div>
          <div class="modal-body text-center">
            <p>PickUp is an iOS application built in 24 hours that provides an easy platform to create pick-up games, coordinate game times and connect with new people.</p>
            <p><i>Core Location, MapKit, Swift, Xcode, Django Rest API</i></p>
            <div class ="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/oWANuur_ANE" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-md-8">
              Code:<a href="https://github.com/tkaderr/ios_pickup" ><button type="button" class="btn btn-primary">Github</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

</body>

</html>
